<div class="panel-body panelContent" style="padding-top: 12px; padding-bottom: 48px;">
     
    <div ng-class="{ listEvent: event.promo != true }" id="listEvent_{{event._id}}" ng-repeat="event in events" ng-click="openEvent(event)" style="text-align: left;">
        
        <div ng-show="event.promo != true" class="listEventCell">
            
        <div ng-show="event.info.eventImage" class="listEventImage">
            <img ng-src="img{{event.info.eventImage}}" id="event-img-{{event._id}}" />
            <div class="imageShader"></div>
        </div>
            
            <div class="listEventInfo">
                <div class="header">
                    <div class="headerBg" style="padding: 6px; margin-right: 6px; display: inline;">{{formatTime(event.info.timeStart)}}</div>
                    <div class="title">{{event.info.title}}</div>
                </div>
                <div class="descriptionBox" ng-show="app.views.findEvents == 0">
                    {{event.info.description}}
                </div>
                <!-- <div class="fadeoutListEvent"></div> -->
            </div>
            
        </div>
        
        <div ng-show="event.promo == true && app.views.findEvents == 0" class="panel panel-defaul ad ad-f1">
            PROMO SPACE F1
        </div>
        
    </div>
</div>
