<div class="panel panel-default findEvents" ng-controller="FindEventsCtrl" ng-init="init()">
    

  <div ng-show="rootView === 'front' || rootView === 'events'" style="width: 100%; padding: 20px; background-color: #e0e0e0;" id="jumbotron">
    <div style="width: 100%; text-align: center;">
        <h1>Helppo tapa myydä liput.</h1>
        <p>Aloita nyt. Se on helppoa ja halpaa. Lorem ipsum dolorem.</p>
        <p>
            <a ng-show="!regFirst" class="btn btn-primary btn-lg" href="" ng-click="createEvent()" role="button">Luo tapahtuma</a>
            <span ng-show="regFirst">
                <a href="/#/app?view=logreg&href=%2Fapp%3Fview%3DmyEvents%26action%3Dnew">Rekisteröidy tai kirjaudu sisään</a> päästäksesi luomaan uutta tapahtumaa.
            </span>

        </p>
    </div>
  </div>
    <!--    
	<div class="panel-heading columnHeader" ng-click="navigate('#/app?view=findEvents')">	
		{{ "app.findEvents.title" | translate }} 
	</div>
    -->

    <div ng-show="logregStatus === 'loggedIn'" class="categoriesBar">
        <div ng-click="navigate('#/app?view=findEvents')" class="categorySection">
          Haku
        </div>
        <div ng-click="navigate('#/app?view=myEvents')" class="categorySection">
          Omat
        </div>
        <div ng-click="navigate('#/app?view=myTickets')" class="categorySection">
          Liput
        </div>
    </div>
    <div class="eventSearch">
        
        <!--
        <div class="eventSearchLeft">
            <a href="">{{ 'app.findEvents.searchFilters' | translate }}</a>
        </div>
        -->
        <!-- 
        <div class="eventSearchLeft">
            {{ 'app.findEvents.searchText' | translate }}
        </div>
        -->
        
        <div class="eventSearchLeft">
            <div class="mainFilterSection location">
                <div class="filterBadge" ng-show="!setLocation">
                    <a href="" ng-click="changeLocation()">
                        <span class="badgeText" ng-show="searchLocation">{{searchLocation}}</span>
                        <span class="badgeText" ng-show="!searchLocation">KAIKKI KAUPUNGIT</span>
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    </a>
                </div>
                <input class="form-control" ng-show="setLocation" style="margin-top: -8px; display: inline-block;" type="text" placeholder="{{ 'event.back.info.placeholder-place' | translate }}" ng-model="locationSearchStr"/>
            </div> 
            
            <div class="mainFilterSection time">
                <div class="filterBadge" style="border: 1px solid #e0e0e0; background: white;">
                    <a href="" ng-click="changeEventTime()">
                        <span class="badgeText" ng-show="eventTime">{{eventTime.label}}</span>
                        <span class="badgeText" ng-show="!eventTime">MILLOIN TAHANSA</span>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            
            <div class="mainFilterSection type">
                <div class="filterBadge" style="border: 1px solid #e0e0e0; background: white;">
                    <a href="" ng-click="changeEventType()">
                        <span class="badgeText" ng-show="eventType">{{eventType.label}}</span>
                        <span class="badgeText" ng-show="!eventType">KAIKKI TYYPIT</span>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="eventSearchRight">
            <div class="input-group" style="width: 100%;">
                <input type="text" class="form-control" ng-model="searchField.text" ng-change="searchEvents()">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>

    </div>

    <div ng-show="setLocation" style="padding: 8px; text-align: center; box-shadow: inset -2px -5px 10px -5px #888889;">
        <a href="" ng-click="resetLocationSearch()">
            <span style="text-decoration: none;" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            KAIKKI KAUPUNGIT
        </a>
        <a style="margin-left: 12px; white-space: nowrap;" ng-repeat="location in locationOptions" href="" ng-click="selectLocation(location)">{{location}}</a>
    </div>
    
    <div ng-show="setEventTime" style="padding: 8px; text-align: center; box-shadow: inset -2px -5px 10px -5px #888889;">
        <a href="" ng-click="resetEventTime()">
            <span style="text-decoration: none;" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            MILLOIN TAHANSA
        </a>
        <a style="margin-left: 12px; white-space: nowrap;" ng-repeat="time in eventTimeOptions" href="" ng-click="selectEventTime(time)">{{time.label}}</a>
    </div>

    <div ng-show="setEventType" style="padding: 8px; text-align: center; box-shadow: inset -2px -5px 10px -5px #888889;">
        <a href="" ng-click="resetEventType()">
            <span style="text-decoration: none;" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            KAIKKI TYYPIT
        </a>
        <a style="margin-left: 12px; white-space: nowrap;" ng-repeat="type in eventTypeOptions" href="" ng-click="selectEventType(type)">{{type.label}}</a>
    </div>
    
    <div class="findEventsContainer" ng-class="{ 'loggedIn': logregStatus == 'loggedIn' }">
        
        <div ng-include="templateUrl" class="findEventsContent" id="findEventsContent"></div>    

        <div class="promoEvents">
            
            <div ng-show="promoEvents.length > 0"
                ng-class="{ loggedIn: logregStatus == 'loggedIn', loggedOut: logregStatus != 'loggedIn' }"
                class="minView1 ad ad-s1">
                 
                <div class="promoFull" style="width: 100%; height: 100%; position: relative;" ng-click="navigate('#/event/'+promoEvents[0]._id)">
                    <div class="imageContainer">
                        <img ng-src="img{{promoEvents[0].info.eventImage}}">
                        <div style="position: absolute; bottom: 8px; right: 8px; background: rgba(0, 0, 0, 0.3); padding: 4px;">
                            <div class="panelBg" style="padding: 4px; font-size: 1.3em; color: white;">
                                {{formatTime(promoEvents[0].info.timeStart, "MMM dd")}}	
                            </div>
                        </div>
                    </div>
                    <div style="height: 20%; border: 1px solid #e0e0e0; padding: 4px;">
                        <a href="#/event/{{promoEvents[0]._id}}"><span style="font-size: 1.5em;">{{promoEvents[0].info.title}}</span></a> in {{promoEvents[0].info.place.vicinity}}
                    </div>
                </div>
                
                <div class="promoSmall" style="width: 100%; height: 100%; position: relative; border: 1px solid #a0a0a0; background: #FFFACD;">
                    <a style="display: inline-block; margin-top: 10px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" 
                        href="#/event/{{promoEvents[0]._id}}">{{promoEvents[0].info.title}}</a>
                </div>
                
            </div>
            
            <div ng-show="promoEvents.length > 1"
                ng-class="{ loggedIn: logregStatus == 'loggedIn', loggedOut: logregStatus != 'loggedIn' }"
                class="minView2 ad ad-s2">
                
                <div class="promoFull" style="width: 100%; height: 100%; position: relative;" ng-click="navigate('#/event/'+promoEvents[1]._id)">
                    <div class="imageContainer">
                        <img ng-src="img{{promoEvents[1].info.eventImage}}">
                        <div style="position: absolute; bottom: 8px; right: 8px; background: rgba(0, 0, 0, 0.3); padding: 4px;">
                            <div class="panelBg" style="padding: 4px; font-size: 1.3em; color: white;">
                                {{formatTime(promoEvents[1].info.timeStart, "MMM dd")}}	
                            </div>
                        </div>
                    </div>
                    <div style="height: 20%; border: 1px solid #e0e0e0; padding; 4px;">
                        <a href="#/event/{{promoEvents[1]._id}}"><span style="font-size: 1.5em;">{{promoEvents[1].info.title}}</span></a> in {{promoEvents[1].info.place.vicinity}}
                    </div>
                </div>
                
                <div class="promoSmall" style="width: 100%; height: 100%; position: relative; border: 1px solid #a0a0a0; background: #FFFACD;">
                    <a style="display: inline-block; margin-top: 10px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" 
                        href="#/event/{{promoEvents[0]._id}}">{{promoEvents[1].info.title}}</a>
                </div>
                
            </div>
        
        </div>

    </div>

</div>
