<div class="panel panel-default settings">
  <div class="input-form-table-container">
     
    <form role="form" novalidate>
    <div class="panel-body input-form-table">	
      <div class="input-form-table-row">
        <div class="input-form-table-cell label-container">Display name</div>
        <div class="input-form-table-cell input-container">
          <input type="text" placeholder="Display name: eg. Batman" class="form-control" ng-model="profile.displayName"/>
        </div>
      </div>
      <div class="input-form-table-row">
        <div class="input-form-table-cell label-container">First name</div>
        <div class="input-form-table-cell input-container">
          <input type="text" placeholder="First name: eg. John" class="form-control" ng-model="profile.firstName"/>
        </div>
      </div>
      <div class="input-form-table-row">
        <div class="input-form-table-cell label-container">Last name</div>
        <div class="input-form-table-cell input-container">
          <input type="text" placeholder="Last name: eg. Smith" class="form-control" ng-model="profile.lastName"/>
        </div>
      </div>
      <div class="input-form-table-row">
        <div class="input-form-table-cell label-container">&nbsp;</div>
        <div class="input-form-table-cell input-container">
          <br/>
          <button class="btn btn-default"  ng-click="saveProfile()">Save</button>
          <span ng-show="profileStatus == 'changed'" style="color: #0000a0;">
            &nbsp;Changed
          </span>
          <span ng-show="profileStatus == 'saved'" style="color: #00a000;">
            &nbsp;Saved
          </span>
        </div>
      </div>
    </div>
    </form>
    
  </div>
</div>
