<div class="order">

    <div class="panel panel-default" style="width: 100%; height: 100%;">
    
        <div class="panel-heading columnHeader">
            <div class="right">Purchased tickets</div>
            <div ng-show="order.tickets.length > 0" class="left">
                <a href="" ng-click="setRootView('orderFront')">Order</a>
            </div>
        </div>
        
        <div class="panel-body" style="display: inline-block; width: 100%; height: 95%; overflow-y: auto;">
        
            <div style="padding: 10px;">
                
                <div ng-repeat="ticket in order.tickets" style="padding: 10px; border: 1px solid black; margin: 10px;">
                    <div style="display: inline-block; width: 50%;">
                        <div style="font-size: 16px;"><b>{{ticket.eventName}}</b></div>
                        <div>{{ticket.ticketName}}</div>
                    </div>
                    <div style="display: inline-block; width: 49%; text-align: right; vertical-align: top;">
                        <div>{{ticket.price}} €</div>
                        <div><a href="{{appBaseUrl}}/ticket/{{ticket._id}}">{{ticket._id}}</a></div>
                    </div>
                </div>
                
            </div>
            
        </div>
    
    </div>

</div>
