<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="mainApp">

<head>
	
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /><!-- Optimize mobile viewport -->
    <meta name="description" content="B^2 - Events and tickets" />
    <meta name="keywords" content="events, tickets" />
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:description" content="{{og.description}}" />
    <meta property="og:image" content="{{og.image}}" />

    <title>B^2 - Events and tickets</title>
     
    <link href="//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet" type="text/css">	
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel='stylesheet' type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap-custom.css"/>
	<!-- <link rel="stylesheet" href="dist/bower_components/bootstrap/dist/css/bootstrap.min.css"/> -->
	<link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
	<link rel="stylesheet" href="bower_components/c3/c3.min.css"/>
	<link rel="stylesheet" href="css/wireframe-alt.css"/>
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico"> 	
    
    <style>
        .slide {
           position: absolute;
           /*left: 0;*/
           height: 100%;
           width: 100%;
        }
    </style>
	
    <!-- Libraries (bower) -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-loader/angular-loader.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="bower_components/angular-translate/angular-translate.min.js"></script>
	<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
	<script src="bower_components/c3/c3.min.js"></script>
	<script src="bower_components/d3/d3.min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
	
	
	<!-- Libraries (non-bower) -->
	<script src="lib/jquery.slimscroll.min.js"></script>
	<script src="lib/bootstrap-datetimepicker.min.js"></script>
	<script src="lib/angulike.js"></script>
	
	<!-- Libraries (external) -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script type="text/javascript" src="https://static.addtoany.com/menu/page.js"></script>
	
	<!-- App scripts -->
    <!--
    -->

	<!-- Libraries (npm) -->
	<script src="/node_modules/angular-video/js/anguvideo.js"></script>
	
    <script src="dist/source.min.js"></script>

</head>

<body ng-controller="MainCtrl">
	
	<div class="mainContainer">
	
						
		<div class="appHeader" style="overflow: hidden;" ng-hide="hideHeader">
							
			<div class="logo">
				<a href="#/app?view=findEvents"><img src="img/BSQ-logo_small.png" height="30px"></a>
			</div>			
			
			<div class="headerControls" style="display: inline-block; float: right; margin-top: 7px; margin-right: 1%; position: relative;">
                <button  class="btn btn-default" ng-show="logregStatus == 'loggedIn'" ng-click="logout()" style="display: inline-block; text-align: center; padding: initial;width: 75px; height: 30px; vertical-align: top; cursor: pointer;">
					{{ 'app.header.logout' | translate }} 
				</button>
				<button class="btn btn-default" id="action-menu" ng-show="logregStatus == 'loggedIn'" ng-click="navigate('#/app?view=settings')" style="display: inline-block; text-align: center; padding: 4px; min-width: 60px; max-width: 90px; height: 30px; background: #606060; color: #ffffff; overflow-x: hidden; overflow-y: hidden; cursor: pointer;">
					<div style="width: 100%; display: inline-block; overflow-x: hidden; text-overflow: ellipsis;">{{loggedUser.displayName}}</div>
				</button>
				<button class="btn btn-default" ng-show="logregStatus != 'loggedIn' && rootView != 'back'" ng-click="navigate('#/app?view=logreg')" style="display: inline-block; text-align: center; padding: initial; width: 70px; height: 30px; overflow: hidden; cursor: pointer;"> 
					{{ 'app.header.login' | translate }} 
				</button>
				<div id="action-menu-dropdown" style="border: 1px solid black; position: absolute; text-align: left; right: -2px; top: 34px; background: #606060; z-index: 2; width: 120px;" ng-show="accountDropdownStatus == 'open'">
				</div>
			</div>
			
            <div style="width: 100%; padding: 20px; position: absolute;" id="jumbotron">
                <div style="width: 100%; text-align: center;">
                    <h1>Helppo tapa myydä liput.</h1>
                    <p>Aloita nyt. Se on helppoa ja halpaa. Lorem ipsum dolorem.</p>
                    <p><a class="btn btn-primary btn-lg" href="" role="button">Luo tapahtuma</a></p>
                </div>
            </div>
							
		</div>
        
        <div style="height: calc(100% - 44px); width: 100%; position: relative; overflow: hidden;">
            <div ng-view class="slide" ng-cloak></div>    
        </div>
			
	</div>
	
	<script>
      
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-00000000-0', 'application.com');
        ga('send', 'pageview');

	</script>
	
</body>
</html>
