<div class="editEventSettings" style="height: 100%;" ng-controller="event.back.payout.PayoutCtrl">
    
    <div role="form">
        
        <div class="inputForm">
            
            <div class="inputRow form-group">
                <div class="inputRowCell labelContainer hideTooNarrow">{{ 'event.back.payout.bankName.label' | translate }}</div>
                <div class="inputRowCell eventInputContainer">
                    <input placeholder="{{ 'event.back.payout.bankName.placeholder' | translate }}" class="form-control" style="width: 100%;"
                    type="text" ng-model="payout.bankName" />
                </div>
            </div>
            <div class="inputRow form-group">
                <div class="inputRowCell labelContainer hideTooNarrow">{{ 'event.back.payout.iban.label' | translate }}</div>
                <div class="inputRowCell eventInputContainer">
                    <input placeholder="{{ 'event.back.payout.iban.placeholder' | translate }}" class="form-control" style="width: 100%;"
                    type="text" ng-model="payout.iban" />
                </div>
            </div>
            <div class="inputRow form-group">
                <div class="inputRowCell labelContainer hideTooNarrow">{{ 'event.back.payout.rcptName.label' | translate }}</div>
                <div class="inputRowCell eventInputContainer">
                    <input placeholder="{{ 'event.back.payout.rcptName.placeholder' | translate }}" class="form-control" style="width: 100%;"
                    type="text" ng-model="payout.recipientName" />
                </div>
            </div>
            <div class="inputRow form-group" style="height: 104px;">
                <div class="inputRowCell labelContainer">{{ 'event.back.payout.rcptAddress.label' | translate }}</div>
                <div class="inputRowCell eventInputContainer">
                    <textarea placeholder="{{ 'event.back.payout.rcptAddress.placeholder' | translate }}" class="form-control"
                    style="height: 100px; width: 100%;" ng-model="payout.recipientAddress" />
                </div>
            </div>
            
            <div class="inputRow">
                <div class="inputRowCell labelContainer">&nbsp;</div>
                <div class="inputRowCell eventInputContainer">
                    <div style="width: 100%;">
                        <div ng-show="payoutStatus == 'new'" style="display: inline; float: right;">
                            <button class="btn btn-default" ng-click="savePayoutOptions()">{{ 'forms.general.save' | translate }}</button>
                        </div>
                        <div ng-show="payoutStatus != 'new'" style="display: inline; float: right;">
                            <button ng-disabled="payoutStatus != 'changed'" class="btn btn-default" ng-click="savePayoutOptions()">{{ 'forms.general.save' | translate }}</button>
                        </div>
                        <div ng-show="payoutStatus == 'changed' && editEvent != 'new'" style="color: #0000a0; margin-left: 4px; padding-top: 6px;">&nbsp;{{ 'forms.general.changed' | translate }}</div>
                        <div ng-show="payoutStatus == 'saved'" style="color: #00a000; margin-left: 4px; padding-top: 6px;">&nbsp;{{ 'forms.general.saved' | translate }}</div>
                        <div ng-show="payoutStatus == 'created'" style="color: #00a000; margin-left: 4px; padding-top: 6px;">&nbsp;{{ 'forms.general.created' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
