<div class="panel panel-default event" ng-controller="ManageEventCtrl">
                        
    <div class="panel-heading columnHeader">
        <div class="left">{{event.info.title}}</div>
        <div class="right"><a href="" ng-click="setRootView('view')">{{ 'event.back.view' | translate }}</a></div>
    </div>
    
    <div class="panel-body panelContent">
    
        <div id="myEventListContainer" style="position: relative;">
            <div class="myListEvent">
            	
            	<div id="editEvent" class="editEvent">
	
					<div class="topMenu">
						<div style="margin: auto;">
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'dashboard' }" ng-click="setView('dashboard')">{{ 'event.back.menu.dashboard' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageInfo' }" ng-click="setView('manageInfo')">{{ 'event.back.menu.settings' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'payout' }" ng-click="setView('payout')">{{ 'event.back.menu.payout' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageTickets' }" ng-click="setView('manageTickets')">{{ 'event.back.menu.tickets' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageLayout' }" ng-click="setView('manageLayout')">{{ 'event.back.menu.layout' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageSignup' }" ng-click="setView('manageSignup')">{{ 'event.back.menu.signup' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageMarketing' }" ng-click="setView('manageMarketing')">{{ 'event.back.menu.marketing' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'manageOrders' }" ng-click="setView('manageOrders')">{{ 'event.back.menu.orders' | translate }}</div>
							<div class="menuElement" ng-class="{ bodyBg: eventView == 'guests' }" ng-click="setView('guests')">{{ 'event.back.menu.guests' | translate }}</div>
						</div>
					</div>
					
					<div class="editEventPane">
						
						<div ng-include="eventViewUrl" style="display: inline-block; position: relative; width: 100%;"></div>
						
					</div>
				
				</div>
				
            </div>
        </div>
                            
    </div>
                        
</div>
                    
